<img src="/assets/Welcome Home.jpg" alt="Home image">
<br><br>
<h3 style="text-indent: 4em;">Welcome to Home Page</h3><br>
<p class="indent" style="text-align: justify;">
    This is a basic page designed to test our knowledge on Angular. At time of development I learnt many new things and got idea on how to create beautiful applicaions with the help of angular framework. 
    Basically anular is a JavaScript framework used to design single page applications. It is based on typescript.
    AngularJS was one of the first modern JavaScript front-end frameworks. It came to market in 2010 and rapidly became the most popular JavaScript MVC (Model-View-Controller) framework.
    AngularJS quickly became popular because of features like dependency injection, routing, and two-way data binding. It significantly changed how Front-End Developers wrote code. 
    Five years later, Angular 2 (or Angular) was released. Unlike AngularJS, which is written in JavaScript, Angular is written in TypeScript.
</p>